.wrapper{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 50px;
}

footer{
    margin-top: 200px;
}

.card__footer h2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.01em;
    line-height: 22px;
    margin-bottom: 15px;
}
.card__footer p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.01em;
    line-height: 22px;
}
.card__footer img{
    margin-bottom: 20px;
}
